.contenedor{
    background-color: #e4b17d;
    padding: 0px 50px 50px 50px;
    margin: 50px 100px;
    border-radius: 20px;
    border: 2px dotted;
}

.img-normalizada{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.title{
    margin-left: 20%;
}

.tour{
    padding-top: 60px;
}

.valores{
    display: flex;
    align-items: center;
}

.info{
    margin-left: 25px;
    font-size: 25px;
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}